<div style="margin-bottom:10px"><span style="font-size:11pt"><span style="line-height:normal"><span ><span style="font-size:12.0pt"><span >The evidence gathered so far has maintained that the SARS-CoV-2, the virus responsible for causing COVID-19, is spread primarily through the respiratory droplets of an infected person. However, in the latest scientific brief released by the Centers for Disease Control and Prevention, US (CDC) the airborne transmission of the Coronavirus has been elaborated further. </span></span></span></span></span></div>
↵
↵<div style="margin-bottom:10px"><span style="font-size:11pt"><span style="line-height:normal"><span ><span style="font-size:12.0pt"><span >In summary, the CDC has said that the Coronavirus can spread through airborne particles that can linger in the air for several minutes or even hours. The virus can infect people who are further than six feet away from the infected person or after that person has left the space. &nbsp;</span></span></span></span></span></div>
↵
↵<div style="margin-bottom:10px"><span style="font-size:11pt"><span style="line-height:normal"><span ><b><span style="font-size:14.0pt"><span >What does airborne transmission mean?</span></span></b></span></span></span></div>
↵
↵<div style="margin-bottom:10px"><span style="font-size:11pt"><span style="line-height:normal"><span ><span style="font-size:12.0pt"><span >When an infection spreads through respiratory droplets composed of tiny particles which can remain suspended in the air for a longer time and distance (usually more than 6 feet), it is known as airborne transmission. These tiny particles can travel far from their source (exhaled respiratory droplets) on air currents thereby remaining suspended in the air for longer times (typically hours) and over longer distances. Larger respiratory droplets tend to fall out from the air within seconds after they are exhaled.</span></span></span></span></span></div>
↵
↵<div style="margin-bottom:10px"><span style="font-size:11pt"><span style="line-height:normal"><span ><b><span style="font-size:14.0pt"><span >What are the other types of transmission?</span></span></b></span></span></span></div>
↵
↵<div style="margin-bottom:10px"><span style="font-size:11pt"><span style="line-height:normal"><span ><span style="font-size:12.0pt"><span >Besides airborne transmission, two other types of spread can occur with respiratory viruses like the Coronavirus.</span></span></span></span></span></div>
↵
↵<ul>
↵	<li style="margin-left:8px"><span style="font-size:11pt"><span style="line-height:normal"><span ><b><span style="font-size:12.0pt"><span >Contact transmission</span></span></b><span style="font-size:12.0pt"><span > – When an infection is transmitted through direct contact (usually touch) with an infected person or with a virus-contaminated surface, it is known as contact transmission. The contact with virus-laden surfaces is more often called as ‘fomite transmission’.</span></span></span></span></span></li>
↵	<li style="margin-left:8px"><span style="font-size:11pt"><span style="line-height:normal"><span ><b><span style="font-size:12.0pt"><span >Droplet transmission</span></span></b><span style="font-size:12.0pt"><span > – This occurs when the respiratory droplets of an infected person reach the nose, mouth, or eyes of a vulnerable person when they are in close contact, usually within 1 metre. The respiratory droplets may be exhaled when the infected person coughs, sneezes, or talks. </span></span></span></span></span></li>
↵</ul>
↵
↵<div style="margin-bottom:10px"><span style="font-size:11pt"><span style="line-height:normal"><span ><b><span style="font-size:14.0pt"><span >So, is the Coronavirus transmission airborne?</span></span></b></span></span></span></div>
↵
↵<div style="margin-bottom:10px"><span style="font-size:11pt"><span style="line-height:normal"><span ><span style="font-size:12.0pt"><span >The CDC in its recent brief has stated that airborne transmission of the Coronavirus can take place, but only under certain circumstances like the below:</span></span></span></span></span></div>
↵
↵<ul>
↵	<li style="margin-left:8px"><span style="font-size:11pt"><span style="line-height:normal"><span ><b><span style="font-size:12.0pt"><span >Exposure to the virus-containing respiratory particles for longer times: </span></span></b><span style="font-size:12.0pt"><span >A healthy person can get infected when they are around a COVID-19 infected person generating respiratory droplets for over 30 minutes in a confined place. These droplets may have been produced by expiratory exertion when carrying out activities like shouting, exercising, running, etc.</span></span></span></span></span></li>
↵	<li style="margin-left:8px"><span style="font-size:11pt"><span style="line-height:normal"><span ><b><span style="font-size:12.0pt"><span >Enclosed spaces</span></span></b><span style="font-size:12.0pt"><span > – Infections can occur in enclosed spaces where a vulnerable person and an infected person were present at the same time. Even when the COVID-19 person leaves the enclosed space, vulnerable people are likely to get infected if they visit the place right after. </span></span></span></span></span></li>
↵	<li style="margin-left:8px"><span style="font-size:11pt"><span style="line-height:normal"><span ><b><span style="font-size:12.0pt"><span >Places with limited ventilation</span></span></b><span style="font-size:12.0pt"><span > – Airborne transmission of COVID-19 can occur in places with poor ventilation as such places allow the suspended respiratory droplets to build up in the air. </span></span></span></span></span></li>
↵</ul>
↵
↵<div style="margin-bottom:10px"><span style="font-size:11pt"><span style="line-height:normal"><span ><span style="font-size:12.0pt"><span >Despite the likelihood of the above transmission events, the CDC continues to endorse that most COVID-19 infections are transmitted through contact (direct or indirect) with the respiratory droplets of a COVID-19 infected person. This means that airborne transmission of COVID-19 is possible but is uncommon and only under special circumstances mentioned above. </span></span></span></span></span></div>
↵
↵<div style="margin-bottom:10px"><span style="font-size:11pt"><span style="line-height:normal"><span ><b><span style="font-size:14.0pt"><span >How to prevent airborne transmission of COVID-19?</span></span></b></span></span></span></div>
↵
↵<div style="margin-bottom:10px"><span style="font-size:11pt"><span style="line-height:normal"><span ><span style="font-size:12.0pt"><span >As seen above, there is a chance, albeit small, of the airborne transmission of the Coronavirus. Hence, taking precautions to prevent it would be a prudent decision. Here’s how you can prevent the airborne transmission of COVID-19:</span></span></span></span></span></div>
↵
↵<ul>
↵	<li style="margin-left:8px"><span style="font-size:11pt"><span style="line-height:normal"><span ><span style="font-size:12.0pt"><span >Avoid crowded indoor spaces as these spaces can raise the concentration of virus-laden respiratory particles and droplets suspended in the air.</span></span></span></span></span></li>
↵	<li style="margin-left:8px"><span style="font-size:11pt"><span style="line-height:normal"><span ><span style="font-size:12.0pt"><span >Always wear masks when stepping out or when you are in a public setting where maintaining physical distance is difficult.</span></span></span></span></span></li>
↵	<li style="margin-left:8px"><span style="font-size:11pt"><span style="line-height:normal"><span ><span style="font-size:12.0pt"><span >Practice social distancing by keeping a physical distance of at least 6 feet from other people.</span></span></span></span></span></li>
↵	<li style="margin-left:8px"><span style="font-size:11pt"><span style="line-height:normal"><span ><span style="font-size:12.0pt"><span >Follow hand washing etiquettes such as washing your hands frequently with soap and water for at least 20 seconds. Alternatively, use an alcohol-based hand sanitizer to clean your hands.</span></span></span></span></span></li>
↵	<li style="margin-left:8px"><span style="font-size:11pt"><span style="line-height:normal"><span ><span style="font-size:12.0pt"><span >Ensure cleaning and disinfection of surfaces, especially the frequently-touched ones.</span></span></span></span></span></li>
↵</ul>
↵
↵<div style="margin-bottom:10px"><span style="font-size:11pt"><span style="line-height:normal"><span ><b><span style="font-size:14.0pt"><span >Conclusion</span></span></b></span></span></span></div>
↵
↵<div style="margin-bottom:10px"><span style="font-size:11pt"><span style="line-height:normal"><span ><span style="font-size:12.0pt"><span >Although it is nearly a year since the onset of COVID-19, there is a lot more to be learnt about it, including more evidence to conclude its airborne transmission nature. While the growing number of Coronavirus cases is disheartening, the new findings coming to light are helping mitigate potential risks to human life. The more we learn about the virus, the more effective strategies we can adopt to tackle the pandemic, be it in the form of a treatment or a <a href="https://www.apollo247.com/covid-vaccine-tracker/" rel="dofollow">vaccine</a>. And while we are at it, we should embrace mitigation strategies like maintaining physical distancing and hand hygiene.</span></span></span></span></span></div>
↵
↵<div style="margin-bottom:10px"><span style="font-size:12.0pt"><span style="line-height:107%"><span ><span >In particular, wearing masks in public spaces will continue to be the most important tool to curb the spread of the Coronavirus. </span></span></span></span></div>
↵
↵<div style="margin-bottom:10px"><span style="font-size:12.0pt"><span style="line-height:107%"><span ><span ><a href="https://www.apollo247.com/medicine/search-medicines/mask">Buy masks to minimise&nbsp;the Coronavirus spread</a>.</span></span></span></span></div>
↵
↵<div style="margin-bottom:10px"><a href="https://www.apollo247.com/covid19/article/should-you-continue-wearing-face-masks"><span style="font-size:12.0pt"><span style="line-height:107%"><span ><span >Read more about the benefits of masks. </span></span></span></span></a></div>
↵
↵<div style="margin-bottom:10px"><span style="font-size:11pt"><span style="line-height:normal"><span ><span style="font-size:12.0pt">For any questions relating to Coronavirus, do an <a href="https://www.apollo247.com/specialties">online doctor consultation </a>with our team of experts.&nbsp;</span></span></span></span></div>
↵
↵<div style="margin-bottom:10px"><span style="font-size:11pt"><span style="line-height:normal"><span ><b><span style="font-size:14.0pt"><span >References:</span></span></b></span></span></span></div>
↵
↵<ul font-size:11pt="" style="word-wrap: break-word;”&gt;
↵	&lt;li&gt;&lt;span style=">
↵	<li><span style="line-height:normal"><span ><a href="https://www.cdc.gov/coronavirus/2019-ncov/more/scientific-brief-sars-cov-2.html" rel="nofollow" ><span style="font-size:12.0pt">https://www.cdc.gov/coronavirus/2019-ncov/more/scientific-brief-sars-cov-2.html</span></a></span></span></li>
↵	<li><span style="font-size:11pt"><span style="line-height:normal"><span ><a href="https://www.who.int/news-room/commentaries/detail/transmission-of-sars-cov-2-implications-for-infection-prevention-precautions" rel="nofollow" ><span style="font-size:12.0pt">https://www.who.int/news-room/commentaries/detail/transmission-of-sars-cov-2-implications-for-infection-prevention-precautions</span></a></span></span></span></li>
↵</ul>
↵
